@import "~@blueprintjs/core/lib/scss/variables.scss";
@import "~@blueprintjs/core/src/blueprint.scss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

//blueprint's select style

.select {

	& > .#{$ns}-popover-target {
		width: 100%
	}

	& div > .#{$ns}-button {
		justify-content: space-between;		
		padding: 0 10px 2px;
		transition: all .4s;		

		.#{$ns}-button-text {
			font-size: 14px;
		}

		&:not([class*='#{$ns}-intent-']) {
			background-image: none;
		}

		&:focus {
			transition: all .4s;
		}
	}

	& .#{$ns}-popover-content {

		& .#{$ns}-input {
			transition: all .4s;		
			
			&:focus {
				transition: all .4s;
			}
		}

		& .#{$ns}-menu {
			border: none;
			box-shadow: none;
		}	
	}
		
	& > div:nth-child(2) > div:first-child {
		width: auto;

		& > div:first-child {
			width: 100%;

			& > div > div > ul.#{$ns}-menu {
				min-width: auto;
			}
		}
	}
}

.select-wrapper {
	margin: .5em 0;

	.autocomplete-list, .select-list {
		.ReactVirtualized__Grid__innerScrollContainer {
			line-height: 2.2;

			& > div {
				padding: 0 .5em;
				cursor: pointer;
			}	
		}		
	}		
}